<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Focalize | Functional Lenses for JavaScript</title>
  </head>
  <body>
    <header>
      <h1>Focalize</h1>
      <h3>Functional Lenses for JavaScript</h3>
    </header>
    <section>
      {{{docs}}}
    </section>
    <footer>
      <p>Copyright &copy; {{year}} Stuart Wakefield and Superwatermelon Limited. All rights reserved.</p>
    </footer>
  </body>
</html>
